@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300,700;1,500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,900&display=swap');




* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}


main {
    >header {
        height: 50px;
        background-color: #000 !important;

        >div {
            &:nth-of-type(1) {
                height: 100%;

                >span {
                    height: 100%;

                    >span {
                        background-color: #E8AE1A;
                        height: 100% !important;
                        width: 75px;
                        font-family: 'Roboto', sans-serif;
                        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                    }
                }
            }

            &:nth-of-type(2) {
                >section {
                    >a {
                        color: rgb(199, 197, 197);
                        transition: .4s;

                        &:hover {
                            color: #E8AE1A;
                        }
                    }

                    >span {
                        position: relative;

                        &::after {
                            content: '';
                            display: flex;
                            width: 2px;
                            height: 100%;
                            background-color: #E8AE1A;
                            position: absolute;
                            left: 0;
                        }

                        color: rgb(199, 197, 197);

                        >i {
                            color: #E8AE1A;
                            margin-right: 9px;
                        }

                    }
                }
            }
        }
    }
 /* hamburgerIcon */

    /* *********************** */
    >.bg-mig {
        width: 100%;
        height: auto;
        background-image: url("../img/img03.jpg");

        >nav {
            // height:  70px !important;


            >section {
                padding-top: 9px;
                background-color: #150627da;

                >div {
                    >ul {
                        >div {

                            &:nth-of-type(1) {
                                .active {
                                    transform: skewX(-16deg);
                                    //clip-path: polygon(11% 0, 100% 0%, 88% 100%, 0% 100%);
                                    background-color: #E8AE1A;

                                    >a {
                                        color: #000 !important;
                                        text-transform: uppercase;
                                    }
                                }

                                >li {
                                    // clip-path: polygon(13% 0, 100% 0%, 87% 100%, 0% 100%);
                                    // border: 1px solid rgb(199, 197, 197);
                                    position: relative;
                                    //margin: 8px; 

                                    padding: 9px;
                                    //  padding: 9px 0;

                                    &::after {
                                        content: '';
                                        display: flex;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        height: 100%;
                                        width: 130%;
                                        opacity: 0;
                                        //transform: skewX(-16deg);
                                        clip-path: polygon(11% 0, 100% 0%, 87% 100%, 0% 100%);
                                        background-color: #E8AE1A;
                                        transition: .4s;
                                        //  transform: rotate(-45deg);
                                    }

                                    &:hover::after {
                                        opacity: 1;
                                    }


                                    >a {
                                        color: #ccccd1;
                                        transition: .4s;
                                        z-index: 2;
                                        text-transform: uppercase;

                                        &:hover {

                                            color: #000;
                                        }
                                    }
                                }

                            }

                            &:nth-of-type(2) {
                                >span {
                                    &:nth-of-type(1) {
                                        margin-right: 20px;
                                        color: #ccccd1;
                                        position: relative;
                                        font-size: 29px;
                                        cursor: pointer;

                                        &::after {
                                            content: '0';
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            position: absolute;
                                            border-radius: 50%;
                                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                            top: 10px;
                                            font-size: 13px;
                                            right: 4px;
                                            width: 20px;
                                            height: 20px;
                                            color: #1C0E23;
                                            background-color: #E8AE1A;
                                        }
                                    }

                                    &:nth-of-type(2) {
                                        cursor: pointer;
                                        background-color: #1C0E23;
                                        color: #E8AE1A;
                                        box-shadow: 0 0 3px 1px #420303;
                                    }
                                }
                            }

                        }
                    }
                    .hamburgerIcon{
                        height: 100% !important;
                        >div{

                            >section{
                              
                                    width: 50px !important;
                                  >span{
                                   background-color: #e8e7eb;
                                    width: 40px;
                                    height: 4px;
                                    margin: 5px;
                                    transition: .4s;
                                    &:nth-of-type(1){
                                      
                                        transform-origin: top left;
                                    }
                                    &:nth-of-type(3){
                                        transform-origin: bottom left;
                                    }
                                    
                                  }
                                
                            }
                        }
                     }
                }
            }

            /* **** */
            ._cart {
                width: 400px !important;
                right: 200px;
                top: 70px;
                background-color: #110523;
                opacity: 0;

                transition: .4s;
                z-index: 23;

                >div {
                    >section {
                        &:nth-of-type(1) {
                            color: #ccccd1;

                            >h3 {
                                color: #ccccd1;
                            }

                            >div {
                                >span {
                                    width: 80px;

                                    // border: 3px solid black;
                                    &:nth-of-type(2) {
                                        text-decoration: line-through
                                    }

                                    &:nth-of-type(3) {
                                        color: #E8AE1A;
                                    }
                                }
                            }
                        }

                        &:nth-of-type(2) {
                            height: 1px;
                            background-color: #ccccd1;
                            width: 90%;
                        }
                    }

                    >div {
                        >span {
                            height: 50px;
                        }

                        &:nth-of-type(1) {
                            margin-top: 20px;

                            >span {

                                width: 165px;
                                color: #ccccd1;
                            }
                        }

                        &:nth-of-type(2) {
                            >span {
                                width: 330px;
                                background-color: #E8AE1A;
                                cursor: pointer;
                            }
                        }

                        &:nth-of-type(3) {
                            margin-top: 8px;

                            >span {
                                width: 330px;
                                background-color: #1f1536;
                                color: #ccccd1;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                        }

                    }
                }
            }

            /* ***** */

        }

        .humbargerMenu{
            background-color: #1f1536d0;
            transition: .4s;
            z-index: 30 !important;
            position: absolute;
            left: 0;
            >ul{
                >li{
                    >a{
                        text-transform: capitalize;
                        color: #e5e5e5;
                        font-size: 20px;
                        transition: .4s;
                       /*  &:hover{
                            color: #eda704;
                        } */
                    }
                }
            }
        }

    }

    .search-box {
        opacity: 0;
        visibility: hidden;

        width: 100%;
        height: 100vh;
        background-color: #1f1536ad;
        top: 0;
        left: 0;
        z-index: 32;

        >span {
            top: 10px;
            left: 10px;
            color: #ccccd1;
            width: 60px;
            font-size: 35px;
        }

        >div {

            border-bottom: 2px solid #ccccd1;

            >input {
                background: none;
                width: 86%;
                border: none;
                outline: none;
                color: #ccccd1;
            }

            >span {
                width: 60px;
                color: #E8AE1A;
                cursor: pointer;
            }
        }
    }


    /* ******* */


    .img-sr {
        width: 100%;
        height: 100%;

        /*   &::after{
             content: '';
             display: flex;
             width: 100%;
             height: 100%;
             position: absolute;
             top: 0;
             left: 0;
             background-color: #1f1536ab;
             z-index: 20;
           } */
        >figure {

            >img {
                width: 56%;
                animation: rotateme 50s infinite linear;
                opacity: 0.2;

                @media (max-width: 700px) {
                    width: 80%;
                }
            }

            @keyframes rotateme {
                from {

                    transform: rotate(0deg);
                }

                to {

                    transform: rotate(360deg);
                }
            }
        }
    }

    /* )******** */
    .warfare {
        z-index: 23;
        top: 0;
        left: 0;
        height: 100%;

        >section {
            >div {
                >h6 {
                    color: #E8AE1A;
                    font-weight: 800;
                    font-size: 24px;
                }

                >h2 {
                    color: #ccccd1;
                    font-size: 75px !important;
                    font-weight: 900 !important;
                    font-family: 'Chivo Mono', monospace;

                    >span {
                        color: #E8AE1A;
                        font-family: 'Chivo Mono', monospace;
                    }

                    @media (max-width: 700px) {
                        font-size: 30px !important;
                    }
                }

                >p {
                    color: #ccccd1;
                    font-size: 14px;
                }



            }
        }
    }

    /* **** */
    .slider-img {
        top: 45px;
        right: 200px;
        // bottom: 0;
    }

    .slider-img2 {
        top: 45px;
        right: 20px;
        // bottom: 0;
    }


    .style-three {
        background-color: #F6F6F6;

        >div {
            >h1 {
                font-weight: bold;

                >span {
                    color: #E8AE1A;
                }
            }

            >p {
                color: #7b7b7b;
            }
        }
    }

    .style-four {
        background-color: #F6F6F6;

        >div {

            >section {
                >div {

                    >section {
                        box-shadow: 0 0 2px 6px #e5e5e5;
                        background-color: #ffffffff;

                        >div {


                            &:nth-of-type(1) {
                                /*   width: 300px !important; */
                            }

                            &:nth-of-type(2) {

                                >section {
                                    >h2 {
                                        >i {
                                            color: #e4a101;
                                            font-size: 25px;
                                        }
                                    }

                                    >h4 {

                                        >p {
                                            >span {
                                                color: #FFFFFFFF;
                                            }
                                        }

                                        &::before {
                                            content: '';
                                            display: flex;
                                            height: 100px;
                                            width: 100%;
                                            background-image: url(../img/released_game_.png);
                                            background-repeat: no-repeat;
                                            position: absolute;
                                            left: -25%;
                                            /*  z-index: -1; */


                                        }
                                    }

                                }

                                >ul {
                                    margin-top: 80px;

                                    >li {
                                        font-family: 'Roboto', sans-serif;
                                        margin-top: 10px;
                                        color: #565555 !important;

                                        >span {
                                            color: #7b7b7b;
                                            margin-left: 10px;
                                        }

                                        &:last-child {
                                            color: #7b7b7b !important;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        /* 88888*** */
        ._swiper-four {
            >div {
                >figure {
                    >img {
                        width: 100% !important;


                    }
                }
            }

            .autoplay-progress {
                position: absolute;
                right: 16px;
                bottom: 36px;
                z-index: 10;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: #ccccd1 !important;
                color: var(--swiper-theme-color);

                >svg {
                    --progress: 0;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    z-index: 10;
                    width: 100%;
                    height: 100%;

                    stroke-width: 4px;
                    stroke: var(--swiper-theme-color);
                    fill: none;
                    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
                    stroke-dasharray: 125.6;
                    transform: rotate(-90deg);
                }
            }

            >.swiper-pagination {

                background-color: #ffffffff !important;

            }
        }

        /* 888 */
        .swiperTop {

            @media (max-width: 1200px) {
                width: 530px !important;
            }

            >section {
                background-color: #ffffffff;

                >section {
                    >figure {
                        >img {
                            object-fit: cover;
                            width: 100% !important;
                            height: 40% !important;
                        }
                    }
                }
            }
        }
    }



    /* style-five */
    .style-five {
        background-color: #F6F6F6;

        >span {
            display: flex;
            width: 450px;
            height: 150px;
            background-color: #F6F6F6;
            position: absolute;

            &:nth-of-type(1) {

                clip-path: polygon(52% 100%, 0 0, 100% 0);
                left: 50%;
                top: 0;
                transform: translate(-50%, -0);
            }

            &:nth-of-type(2) {

                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -0);
            }
        }

        >div {
            height: auto;
            background-image: url("../img/img15.jpg");


            >section {
                >div {
                    >section {
                        >div {
                            &:nth-of-type(1) {
                                >h1 {
                                    color: #ccccd1;
                                    font-weight: bold;

                                    >span {
                                        color: #e4a101;
                                    }
                                }

                                >p {
                                    color: #ccccd1;
                                }

                                >section {
                                    >figure {
                                        >span {
                                            transition: .4s;
                                            background-image: url('../img/img16.jpg');
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                        }

                                        >figcaption {
                                            >h2 {
                                                color: #ccccd1;

                                            }

                                            >p {
                                                color: #ccccd1;
                                            }
                                        }
                                    }
                                }
                            }

                            /* ****************+++++===  */
                            &:nth-of-type(2) {
                                >section {
                                    >figure {
                                        &:nth-of-type(1) {
                                            top: -9%;
                                            z-index: 1;
                                        }

                                        /***************** */
                                        &:nth-of-type(2) {
                                            right: 0;
                                        }

                                        &:nth-of-type(3) {
                                            >img {
                                                //  width: 200px;
                                                animation: rotateme 50s infinite linear;



                                            }


                                            bottom: 40px;
                                            left: 263px;
                                        }

                                        &:nth-of-type(4) {
                                            bottom: 105.9px;
                                            left: 143px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* ===================**************** */

    .grid-items {
        background-color: #F6F6F6;
    }

    .section-title {
        h2 {
            font-weight: 900;

            >span {
                color: #e4a101;
            }
        }
    }

    .imgup {
        position: relative;
        top: -60.7px;
    }

    .featured-game-item {


        >figure {}

        >figcaption {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(233, 163, 1, 0.749);
                transition: .4s linear;
                opacity: 0;

            }

            &:hover::after {
                opacity: 1;
                visibility: visible;
            }

            &:hover>div:nth-of-type(1) {
                opacity: 1;
            }

            &:hover>div:nth-of-type(2) {
                opacity: 0;
            }

            >div {
                &:nth-of-type(1) {
                    transition: .4s linear;
                    opacity: 0;

                    z-index: 23;

                    >section {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        >h4 {
                            >a {
                                color: #110523;
                                font-weight: bold;

                                >span {
                                    color: #e5e5e5;
                                }
                            }
                        }

                        >div {

                            >span,
                            i {
                                color: #e5e5e5;
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    transition: .4s linear;
                    bottom: 50px;

                    >h4 {
                        >a {
                            color: #e5e5e5;
                            font-weight: bold;

                            >span {
                                color: #e4a101;
                            }
                        }
                    }

                    >i {
                        color: #e4a101;
                    }

                    >span {
                        color: #e5e5e5;
                    }

                }
            }
        }

    }

    /* style-six===============*********** */

    .style-six {
        height: auto;
        background-image: url('../img/img31.jpg');

        >div {
            >h1 {
                font-weight: bold;
                color: #e5e5e5;

                >span {
                    color: #E8AE1A;
                }
            }

            >p {
                color: #e5e5e5;
            }
        }
    }

    /* style-sevent */

    .style-sevent {
        background-color: #1C181E;

        >div {
            &:nth-of-type(1) {
                >h1 {
                    color: #e5e5e5;
                    font-weight: bold;

                    >span {
                        color: #e4a101;
                    }
                }

                >p {
                    color: #e5e5e5;
                }
            }

            /* =============********* */

            #myswiper {
                >section {

                    >figure {
                        box-shadow: 0px 5px 12.09px 0.91px rgba(0, 0, 0, 0.16);

                        >figcaption {

                            >a {
                                width: 90px;
                                height: 40px !important;
                                background-color: #e4a101;
                                transform: skewX(-16deg);
                                top: -25px;
                                color: #110523;
                                font-weight: bold;
                            }

                            >h4 {
                                font-size: 18px !important;

                                >a {
                                    color: #e5e5e5;
                                    font-size: 18px !important;
                                }
                            }

                            >div {
                                >span {
                                    color: #e4a101;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* ================************* style-eight */
    .style-eight {
        background-color: #F6F6F6;

        >div {
            &:nth-of-type(1) {}

            &:nth-of-type(2) {
                >section {
                    >figure {
                        >figcaption {
                            >h4 {
                                font-weight: bold;
                            }

                            >div {
                                >span {
                                    cursor: pointer;

                                    &:nth-of-type(2) {
                                        >i {
                                            margin-left: 20px;
                                        }
                                    }

                                    >i {
                                        color: #e4a101;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* footer************+================== */

    footer {
        height: auto;
        background: url('../img/t-footer.jpg');

        >figure {
            >img {
                &:nth-of-type(1) {
                    bottom: 0;
                }

                &:nth-of-type(2) {
                    right: 0;
                    bottom: 0;
                }
            }

        }

        >._div {
            background-color: #000;
            border-radius: 60px;
            /*  height: 120px !important; */
            height: auto;
            top: -60px;

            >section {

                >div {
                    &:nth-of-type(1) {
                        >h2 {
                            color: #F6F6F6;
                            font-weight: bold;

                            >span {
                                color: #e4a101;
                            }
                        }
                    }

                    /* --------- */

                    &:nth-of-type(2) {
                        >section {
                            background-color: #2f2c31 !important;
                            transform: skewX(-16deg);
                            margin-right: 4px;

                            >span {
                                >i {
                                    color: #e4a101;
                                }
                            }

                            >input {
                                background: none;
                                border: none;
                                outline: none;
                                color: #e5e5e5;

                            }
                        }

                        >a {
                            background-color: #e4a101;
                            margin-left: 3px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }



        >section {
            >div {
                >section {
                    &:nth-of-type(1) {
                        z-index: 3;
                    }

                    &:last-child {
                        z-index: 2;
                        >ul{
                            >li{
                                >a{
                                    font-size: 35px;
                                   &:hover{
                                    margin-left: 0;
                                   }
                                }
                            }
                        }
                        >h5 {
                            color: #e5e5e5;
                            position: relative;

                            &::after {
                                content: '';
                                display: flex;
                                top: 50px;
                                position: absolute;
                                width: 40px;
                                height: 3px;
                                background-color: #eda704;
                            }
                        }

                        >span {
                            width: 80%;
                            height: 50px;
                            background-color: #2f2c31;

                            >input {
                                background: none;
                                border: none;
                                outline: none;
                                width: 80%;
                                color: #FFFFFFFF;

                            }

                            >span {
                                width: 20%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #e4a101;
                                height: 100% !important;
                                color: #110523;
                            }
                        }
                    }

                    >h3 {
                        position: relative;
                        color: #F6F6F6;
                        font-weight: 900;

                        &::after {
                            content: '';
                            display: flex;
                            top: 50px;
                            position: absolute;
                            width: 100px;
                            height: 5px;
                            background-color: #eda704;
                        }
                    }

                    >ul {
                        >li {
                            >a {
                                color: #e5e5e5;
                                transition: .4s;

                                &:hover {
                                    color: #e4a101;
                                    margin-left: 7px;
                                }
                            }
                        }
                    }

                    >p {
                        color: #e5e5e5;
                    }

                    >span {
                        color: #e5e5e5;
                    }
                }
            }
        }

        >#copy {
            background-color: #000;
            bottom: 0;
            height: 50px;

            >p {
                >span {
                    color: #eda704;
                }
            }

        }
    }

}



/* */


.btn-style-two {
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    height: 70px;
    width: 160px;
    background-color: #e4a101;
    transform: skewX(-16deg);

    color: #1f1536;

    &:hover {
        color: #110523;
    }

    &::before {
        content: "";
        position: absolute;
        right: -13px;
        top: 0;
        height: 100%;
        width: 5px;
        transform: skewX(-1deg);
        z-index: 1;
        opacity: 1;
        background-image: none;
        bottom: 0;
        border-radius: 0;
        left: auto;
        background-color: #e4a101;
        transition: .4s;
    }

    &:hover::before {
        right: 0;

    }
}


._span {
    border: 3px solid #E8AE1A !important;

}